# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.pnp/
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
out/
.cache/
.vscode/

# Webstorm/IDEA IDE
.idea/

# MacOS system files
.DS_Store

# Linux system files
*.swp

# Windows system files
Thumbs.db

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# Package lock files (choose one based on your package manager)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Jest test results
jest/
coverage/

# Ignore Next.js build artifacts (if using Next.js)
.next/

# Storybook files
.storybook/

# Misc
temp/
tmp/